<!doctype html>

<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Dr. Raechel Lutz</title>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="scripts/scripts.js"></script>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/style.css">    
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
  </head>
  
 <body>

<div class="container">

    <header>

      <nav class="navbar navbar-default">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbarNavDropdown" aria-expanded="false">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              
            </button>
            <a class="navbar-brand" href="/"><h1 class="navbarPageTitle">Dr. Raechel Lutz</h1></a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="nav navbar-nav navbar-right">
              {{#if dynamicData.administrator}}
                <li>
                  <a href="/adminportal" class="navbarLinks">
                    Admin
                  </a>
                </li>
              {{/if}}

              <li><a href="/bio" class="navbarLinks">Bio</a></li>
              <li><a href="/Research" class="navbarLinks">Current Research</a></li>
              <li><a href="/publications" class="navbarLinks">Publications</a></li>
              <li><a href="/Teaching" class="navbarLinks">Teaching</a></li>
              <li><a href="/events" class="navbarLinks">News</a></li>              
              <li><a href="/contact" class="navbarLinks">Contact</a></li>

              <li>
                <div id="socialMediaContainer">
                  <div id="socialMediaParent">
                    <i class="fas fa-at"></i>
                  </div>

                  <div id="socialMediaLinks">
                    <div class="socialMediaChild">
                      <a href="https://www.linkedin.com/in/raechel-lutz/" target='new'>
                        <img class="socialMediaIcons" src="../../images/linkedin.png">
                      </a>
                    </div>
                    <div class="socialMediaChild">
                      <a href="https://classics-rutgers.academia.edu/RaechelLutz" target='new'>
                        <img class="socialMediaIcons" src="../../images/academia.jpg">
                      </a>
                    </div>
                    <div class="socialMediaChild">
                      <a href="https://twitter.com/raechellutz" target='new'>
                        <img class="socialMediaIcons" src="../../images/twitter.png">
                      </a>
                    </div>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>

		{{{ body }}}

    <div class="footer">
      <p>Copyright 2021</p>
    </div>
  </div>
</body>