<section class="main">
  <div class='row adminPortalCard bottomBorder'>
    <div class="col-sm-12">
        Admin Portal
    </div>
  </div>

  <div class="row">
    {{!-- <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="adminPortalCard col-xs-12">
          <a class="adminPortalCard" href="admincarousel">
            Carousel
          </a>
        </div>
      </div>
    </div> --}}
    {{!-- <div class="col-xs-1"></div> --}}
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="adminPortalCard col-xs-12">
          <a class="adminPortalCard" href="adminbio">
            Bio
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="adminPortalCard col-xs-12">
          <a class="adminPortalCard" href="adminresearch">
            Current Research
          </a>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="adminPortalCard col-xs-12">
          <a class="adminPortalCard" href="adminpublications">
            Publications
          </a>
        </div>
      </div>
    </div>
    <div class="col-xs-1"></div>
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="adminPortalCard col-xs-12">
          <a class="adminPortalCard" href="viewmessages">
            View Messages
          </a>
        </div>
      </div>
    </div>
    {{!-- <div class="col-xs-1"></div>
    <div class="col-xs-5 portalButton">
      <div class="row">
        <div class="adminPortalCard col-xs-12">
          <a class="adminPortalCard" href="adminresearch">
            Current Research
          </a>
        </div>
      </div>
    </div> --}}
</section>