<section class="main">
  <div class='row'>
    {{#each dynamicData}}
      <div class="col-md-8 col-xs-12">
        <div class='row'>
          <div class="col-xs-12 pageTitle">
            {{{this.header}}}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 image-container">
            <img class="profile" src="{{this.elementimage}}">
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12 caption-container">
            {{{this.imagecaption}}}
          </div>
        </div>
        <div class='row'>
          <div class="col-xs-12">
            <p>
              {{{this.elementtext}}}
            </p>
          </div>
        </div>
      </div>
      {{/each}}
    <div class="col-md-4 col-xs-12 twitterContainer">
      {{!-- Built-in Twitter embed. Works well but limited control. --}}
      <a class="twitter-timeline" data-height="500" href="https://twitter.com/raechellutz?ref_src=twsrc%5Etfw" data-tweet-limit="5"></a>
      <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </div>
  </div>
</section>