<section class="main">
  {{!-- <div class='row pageTitle'>
    <div class="col-sm-12">
        Current Research
    </div>
  </div> --}}

  {{#each dynamicData}}
    <div class='row'>
      <div class="col-xs-12 pageTitle">
        {{{this.header}}}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <img class="profile" src="{{this.elementimage}}">
        <Br>
        {{this.imagecaption}}
      </div>
    </div>
      


    <div class='row'>
      <div class="col-sm-12 col-md-10">
        <p>
          {{{this.elementtext}}}
        </p>
      </div>
    </div>
  {{/each}}
</section>